---
BasedOnStyle: llvm
---
Language: Cpp
AccessModifierOffset: 0
AlignConsecutiveMacros:
  Enabled: true
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterNamespace: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: false
SpaceInEmptyBlock: true
NamespaceIndentation: All
IndentWidth: 2
TabWidth: 2
